.blogcard-wrapper {
  border: solid 1px black;
  margin-bottom: 15px;
  transition: box-shadow 0.2s ease;
  border-radius: 5px;
}

.blogcard-header-wrapper {
  margin-bottom: 20px;
}

.blogcard-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.blogcard-header-wrapper h2,
.blogcard-info {
  margin-bottom: 5px;
}

.blogcard-tags,
.blogcard-body {
  font-size: 12px;
}

.blogcard-link {
  margin-top: 10px;
}

.blogcard-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
