.blogs-section {
  min-height: 80vh;
}

.blogs-wrapper {
  padding: 20px 0 20px 0;
  width: 80%;
}

.blogs-sort {
  margin-top: 20px;
}

.blogs-sort select {
  padding: 5px;
}

.blogs-sort select:hover {
  cursor: pointer;
}

.blog-search-form button {
  width: 200px;
}

.blogcards-wrapper {
  margin-top: 20px;
  /* border-top: solid 0.5px black; */
}

@media screen and (max-width: 768px) {
  .blogs-wrapper {
    width: 90%;
  }
}
