.blogcard-wrapper {
  border-bottom: solid 0.5px black;
  transition: box-shadow 0.2s ease;
}

.blogcard-header-wrapper {
  margin-bottom: 20px;
}

.blogcard-header-wrapper:hover {
  cursor: pointer;
}

.blogcard-header-wrapper:hover h2 {
  text-decoration: underline;
}

.blogcard-header-wrapper h2,
.blogcard-info {
  margin-bottom: 5px;
}

.blogcard-tags,
.blogcard-body {
  font-size: 12px;
}

.blogcard-link {
  margin-top: 10px;
}

.blogcard-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
