.featured-lists-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 5px 25px 5px;
  text-align: center;
}

.featured-list-wrapper {
  transition: box-shadow 0.2s ease;
  margin: 0 5px 35px 5px;
  padding: 10px 0;
  width: 30%;
  max-width: 475px;
  min-width: 375px;
  border: 1px solid black;
  border-radius: 5px;
}

.featured-list-header h2 {
  text-align: center;
  margin-bottom: 8px;
}

.featured-list-body {
  padding-top: 5px;
  margin-top: 15px;
  height: 450px;
  overflow-y: auto;
}

.featured-list-item {
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.featured-list-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.featured-list-title {
  margin: 5px 0 15px 0;
}

.featured-list-info {
  font-size: 12px;
}

.featured-list-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .featured-list-wrapper {
    min-width: 0;
    width: 100% !important;
  }
}
