.home-section {
  color: black;
  text-align: center;
  min-height: 80vh;
  padding: 35px 0;
}

.home-slogan-wrapper {
  min-height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.home-slogan-right,
.home-slogan-left {
  width: 50%;
  max-width: 600px;
}

.home-slogan-left h1 {
  margin-bottom: 15px;
}

.home-slogan-img {
  margin: 35px 0;
  height: 100%;
  /* max-height: 500px; */
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-description-wrapper {
  padding: 50px 30px;
}

.home-description-wrapper h3 {
  margin: 0 auto;
  max-width: 1100px;
  line-height: 1.6em;
}

.home-divider {
  border-bottom: 0.5px solid black;
  height: 0px;
  width: 98%;
  margin: 0 auto 0 auto;
}

.home-img-wrapper {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 0 auto;
  max-width: 1200px;
}

.home-img-wrapper h2 {
  padding: 0 20px 0 20px;
}

.home-img-left h2,
.home-img-right h2 {
  text-align: center;
}

.home-img-right,
.home-img-left {
  margin: 20px;
  min-width: 370px;
}

.home-img-happy,
.home-img-unhappy {
  padding: 20px;
  max-height: 550px;
  height: 100%;
  width: auto;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-img-unhappy {
  margin-bottom: 50px;
}

.home-img-wrapper h2 {
  margin-bottom: 35px;
}

.home-caption {
  padding: 75px 0 75px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .home-slogan-wrapper {
    margin-top: 50px;
    flex-direction: column;
  }
  .home-slogan-right,
  .home-slogan-left {
    width: 90%;
  }
}

@media screen and (max-width: 475px) {
  .home-img-right,
  .home-img-left {
    min-width: 100%;
  }

  .home-img-happy,
  .home-img-unhappy {
    width: 95%;
    padding: 0px;
  }
}
