.home-section {
  color: black;
  text-align: center;
  min-height: 80vh;
}

.body-message {
  font-size: 48px;
  margin: 50px 0 50px 0;
}

.loader-wrapper {
  height: 150px;
  margin: 50px 0 50px 0;
}
