.logo-wrapper {
  font-size: 28px;
  width: 100%;
  height: 175px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.logo-wrapper h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-items-wrapper {
  width: 98%;
  min-height: 55px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.nav-items-mobile,
.nav-items-desktop {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items-desktop {
  width: 70%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-items-desktop li {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items-mobile li:hover,
.nav-items-desktop li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-burger-wrapper {
  padding-left: 5px;
  display: none;
}

.nav-items-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-burger-wrapper {
    display: initial;
  }

  .nav-items-desktop {
    display: none;
  }

  .nav-items-mobile {
    margin-top: 5vh;
    display: inherit;
    flex-direction: column;
    height: 100%;
  }

  .nav-items-mobile li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
  }
}
