.logo-wrapper {
  width: 100%;
  height: 175px;
  font-size: 28px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.logo-wrapper h1 {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  text-decoration: underline;
}

.logo-wrapper h1:hover {
  cursor: pointer;
}

.login-wrapper {
  display: flex;
  width: 250px;
  position: absolute;
  right: 30px;
}

.login-btn,
.signup-btn {
  font-size: 12px;
  width: 50%;
}

.loading-wrapper {
  width: 30px !important;
  height: 30px !important;
  top: 5px;
  right: -100px;
}

.login-btn {
  margin-right: 5px;
}

.signup-btn {
  margin-left: 5px;
}

.login-wrapper input {
  margin-top: 5px;
  padding: 5px;
  width: 185px;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-cancel-btn {
  margin-left: 5px;
}

.nav-signup-form button,
.nav-login-form button {
  margin-top: 5px;
  width: 90px;
}

.user-icon {
  -webkit-mask: url(../styles/images/user.svg) no-repeat center;
  mask: url(../styles/images/user.svg) no-repeat center;
  height: 20px;
  width: 20px;
  background-color: black;
}

.navbar-arrow-down {
  border: solid 1px black;
  margin-bottom: 3px;
  margin-left: 2px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav-user-wrapper {
  width: 100%;
  position: relative;
  font-size: 16px;
}

.nav-user-container {
  position: absolute;
  right: 0px;
  top: -5px;
  align-items: center;
  justify-content: flex-end;
}

.nav-user-container:hover {
  cursor: pointer;
}

.nav-dropdown {
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 35px;
  right: 0px;
  height: 175px;
  width: 200px;
  overflow: hidden;
  border: solid 1px black;
}

.nav-dropdown-shrink {
  height: 0px;
  border: none;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-items-wrapper {
  width: 98%;
  min-height: 55px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.nav-items-mobile,
.nav-items-desktop {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items-desktop {
  width: 70%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-items-desktop li {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items-mobile li:hover,
.nav-items-desktop li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-burger-wrapper {
  padding-left: 5px;
  display: none;
}

.nav-items-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .login-wrapper {
    flex-direction: column;
    align-items: flex-end;
  }

  .login-btn {
    margin: 0 0 5px 0;
  }

  .signup-btn {
    margin: 5px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .logo-wrapper {
    justify-content: flex-start;
    padding-left: 25px;
  }

  .nav-burger-wrapper {
    display: initial;
  }

  .nav-items-desktop {
    display: none;
  }

  .nav-items-mobile {
    margin-top: 5vh;
    display: inherit;
    flex-direction: column;
    height: 100%;
  }

  .nav-items-mobile li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
  }
}

@media screen and (max-width: 400px) {
  .logo-wrapper {
    height: 100%;
    flex-direction: column;
    position: initial;
    padding: 0px;
  }

  .logo-wrapper h1 {
    padding-top: 15px;
  }

  .login-wrapper {
    height: 155px;
    position: initial;
    align-items: center;
    justify-content: center;
  }

  .login-wrapper-loggedin {
    height: 90px !important;
  }

  .loading-wrapper {
    left: 0px;
    top: 0px;
  }

  .nav-user-container {
    margin-top: 20px;
    justify-content: center;
    position: static;
  }

  .user-icon {
    height: 40px;
    width: 40px;
  }

  .nav-dropdown {
    position: relative;
    z-index: 2;
    left: 15px;
    top: 5px;
  }
}
