.tools-section {
  min-height: 80vh;
  width: 100%;
  align-items: center;
}

.tool-link-wrapper {
  width: 80%;
}

.tool-wrapper {
  width: 80%;
  margin-bottom: 50px;
}

.tool-link-wrapper li {
  margin: 15px 0;
}

.tool-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tool-header-wrapper {
  position: relative;
  margin: 25px 0;
}

.tool-header-wrapper h1,
.tool-header-wrapper h2 {
  margin-right: 60px;
  margin-bottom: 5px;
}

.tool-top-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 12px;
  height: 25px !important;
  width: 50px;
}

.tool-top-btn:hover .tool-arrow-up {
  border-color: black;
}

.tool-arrow-up {
  border: solid 1px white;
  margin-top: 5px;
  margin-left: 5px;
  padding: 2px;
  border-width: 2px 0 0 2px;
  display: inline-block;
  transform: rotate(5deg);
  -webkit-transform: rotate(45deg);
}

.tool-instruction-wrapper p {
  margin: 5px 0;
}

.tool-instruction-wrapper li {
  margin: 25px 0;
  line-height: 1.5em;
}

.tool-inputs-wrapper {
  width: 100%;
  max-width: 400px;
}

.tool-tables-wrapper {
  width: 100%;
}

.tool-table-form:nth-child(2) {
  margin-top: 25px;
}

.tool-table-row:nth-child(even) {
  background-color: #dfdfdf;
}

.tool-table-row:hover {
  background-color: #eaeaea;
}

.tool-table-row td {
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.tool-table-add {
  padding: 0 5px;
  height: 30px !important;
}

.tool-table-wrapper {
  text-align: left;
}

.tool-table-wrapper td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-table-wrapper td:nth-child(1) {
  justify-content: flex-start;
}

.tool-table-wrapper tbody tr {
  padding: 5px 0;
}

.tool-table-action {
  width: 40px;
}

.tool-input-wrapper {
  position: relative;
}

.tool-input-wrapper:nth-child(1) {
  margin-top: 5px;
}

.tool-table-wrapper input,
.tool-input-wrapper input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

.tool-input-wrapper span {
  position: absolute;
  right: 30px;
  width: 120px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tool-table-delete {
  height: 20px !important;
  width: 20px;
  border-radius: 15px;
}

.tool-clear-btn {
  margin-top: 5px;
}

.tool-budget-clear {
  margin-top: 25px;
  width: 100%;
  max-width: 400px;
}

.tool-radio-wrapper {
  margin: 20px 0;
}

.tool-radio {
  margin: 15px 0;
  align-items: center;
}

.tool-radio label {
  padding-left: 5px;
}

.tool-summary-wrapper {
  width: 100%;
  margin: 20px 0;
}

.tool-result {
  margin: 20px 0;
}

.tool-chart-wrapper {
  width: 90%;
  height: 300px;
}

.recharts-surface {
  overflow: visible !important;
}

.custom-tooltip {
  padding: 5px;
  background-color: white;
}

.tooltip-description {
  font-weight: bold;
}

.tool-chart-footer {
  margin-top: 15px;
  font-size: 12px;
}
.tool-chart-footer li,
.tool-chart-footer ul {
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .tool-desktop-input {
    display: none !important;
  }
}
